:root {
    --main-color: rgb(255, 211, 51);
    --hover-color: orange;
    --main-margin: 0 3.5rem;
}

.main-btn {
    background-color: var(--main-color);
    padding: 0.7rem 1.1rem;
    margin: 0.8rem;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0.5rem;
}

ul li a {
    text-decoration: none;
}