* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(255, 211, 51);
    --hover-color: orange;
    --main-margin: 0 3.5rem;
}

body {
    background-color: #F5F5F5;
}

/*--------------------    top-nav      ---------------------*/
header .top-nav {
    background-color: #F5F5F5;
    display: flex;
    padding: var(--main-margin);
    align-items: center;
    justify-content: space-between;
}

header .top-nav ul li a {
    color: #6C757D;
    font-size: 1.2rem;
}

header .top-nav button {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: none;
    color: #212529;
    padding: 0.7rem 1rem;
}

.top-nav button div {
    display: none;

    position: absolute;
    background-color: white;
    width: 140px;
    padding: 0.4rem;
    top: 100%;
    right: 0;
}

.top-nav button div span {

    display: block;
    padding: 0.3rem;
    text-align: left;
}

.top-nav button div span a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.show {
    display: block !important;
}

.top-nav button div span:hover {
    background-color: rgb(235, 232, 232);
}

header .top-nav button:hover {
    background-color: rgb(235, 232, 232);
}

header .top-nav button::after {
    content: "";
    display: inline-block;
    position: absolute;
    margin: 0 5px;
    top: 50%;
    right: 0;
    transform: translate(-50% -50%);
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
}

@media (max-width:992px) {
    #top-nav {
        display: none;
    }


    header .top-nav {
        justify-content: center;
    }
}


/*-------------------------      search-nav       ------------------------------*/
header .search-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--main-margin);
}

header .search-nav div {
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin: 0.5rem 0;
}

header .search-nav .search {
    display: flex;
    align-items: center;
}

header .search-nav .search input {
    width: 90%;
    height: 2.2rem;
}

header .search-nav .search span {
    width: 10%;
    height: 2.2rem;
    border: 1px solid #6C757D;
    border-left: 0;
    color: var(--main-color);
}

header .search-nav .logo span {
    display: inline-block;
    padding: 0.40rem 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

header .search-nav .logo-part-1 {
    background-color: black;
    color: var(--main-color);
}

header .search-nav .logo-part-2 {
    background-color: var(--main-color);
    color: black;
}

header .search-nav .bars-mobile {
    display: none;
}

header .search-nav #customer-service {
    text-align: right;
}

header .search-nav #customer-service :nth-child(1) {
    color: #6C757D;
    padding: 8px;
}

header .search-nav #customer-service :nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}


@media (max-width:992px) {

    header #main-nav .category,
    header #main-nav .icons {
        display: none;
    }

    header #main-nav .nav-list {
        display: none;
        margin-left: 0;
    }

    header #main-nav .nav-list .page-option {
        width: 100%;
        margin: 8px;
        position: relative;
    }

    header .main-nav .nav-list ul li {
        display: block;
    }

    header .search-nav {
        background-color: #3D464D;
        margin: 0;
        padding: 0 1.5rem;
    }

    header .search-nav .search {
        display: none;
    }

    header .search-nav #customer-service {
        display: none;
    }

    header .search-nav .logo .logo-part-1 {
        background-color: #fff;
        color: black;
    }

    header .search-nav .logo .logo-part-2 {
        color: #fff;
    }

    header .search-nav .bars-mobile {
        display: inline-block;
        max-width: 50px;
        padding: 0.2rem;
        text-align: center;
        font-size: 1.5rem;
        color: #6C757D;
        border: 1px solid #6C757D;
    }
}


/*-------------------------     main-nav     -----------------------------*/
header .main-nav {
    display: flex;
    width: 100%;
    padding: var(--main-margin);
    background-color: #3D464D;
    justify-content: space-between;
    align-items: center;

}

header .main-nav .category {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 22%;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

header .main-nav .nav-list {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 2rem;
}

.nav-list nav ul li a {
    color: #fff;
    font-size: 1.1rem;
}

.main-nav .fa-angle-down {
    font-size: 0.8rem;
}

.nav-list nav ul li a:hover {
    color: var(--main-color);
}

.main-nav .nav-list .active a {
    color: var(--main-color);
}

.main-nav .category .fa-bars {
    font-size: 1.3rem;
}

.main-nav .category p {
    font-size: 1.3rem;
    flex-grow: 1;
    margin-left: 1rem;

}

.main-nav .icons {
    display: flex;
    width: 7%;
    align-items: center;
    justify-content: space-between;
}

.main-nav .icons div {
    flex-shrink: 0;
}

.main-nav .icons div span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    color: white;
}

.main-nav .icons .fa {
    color: var(--main-color);
    font-size: 1.05rem;
}

header .main-nav .category .cate-option {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
}

header .main-nav .category .cate-option ul li {
    display: block;
    padding: 0.7rem 1.8rem;
    border-bottom: 1px solid #F5F5F5;
}

header .main-nav .category .cate-option ul a {
    color: gray;
    font-size: 18px;
    transition: 0.5s;
    text-decoration: none;
}

header .main-nav .category .cate-option ul a:hover {
    color: black;
}

header .main-nav .nav-list .page-option {
    display: none;
    z-index: 88;
    position: absolute;
    width: 150px;
    left: 0;
    top: 133%;
    background-color: var(--main-color);
    color: #fff;
}

header .main-nav .nav-list .page-option ul li {
    padding: 10px;
    color: black;
}

header .main-nav .nav-list .page-option ul a:hover {
    display: block;
    background-color: #F5F5F5;
}

#pages-menu {
    position: relative;
}

/*----------------------        carousel        ------------------------------*/
.product-cate h2 {
    margin: var(--main-margin);
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.carousel {
    display: grid;
    height: 450px;
    margin: 1rem 3.5rem;
    grid-template-columns: 66% 34%;
    grid-template-rows: 50% 50%;
    gap: 10px 10px;
}

.carousel .carousel-one {
    grid-row: 1/3;
}

.carousel .carousel-one img {
    width: 100%;
    height: 100%;
}

.carousel .offer-one,
.carousel .offer-two {
    overflow: hidden;
    position: relative;
}

.carousel .offer-one img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.carousel .offer-two img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.carousel .offer-one:hover img {
    transform: scale(1.3) rotate(5deg);

}

.carousel .offer-one div,
.carousel .offer-two div {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carousel .offer-one div :nth-child(2),
.carousel .offer-two div :nth-child(2) {
    margin: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.carousel .offer-two:hover img {
    transform: scale(1.3) rotate(5deg);
}

@media (max-width:767px) and (min-width:991px) {
    .carousel {
        height: 400px;

        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;
    }

    .carousel .carousel-one {

        grid-row: 1/2;
    }
}

@media (max-width:992px) {
    .carousel {
        height: 700px;
        margin: 1rem 1.5rem;
        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;

    }

    .carousel .carousel-one {

        grid-row: 1/2;
    }
}

/*-----------------------      services       --------------------------*/
.services {
    margin: var(--main-margin);
    margin: 5rem 3.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.services div {
    padding: 1.5rem;

    background-color: #fff;
}

.services div .fa {
    color: var(--main-color);
    font-size: 2rem;
}

.services div span {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin: 5rem 1.5rem;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

/*-----------------------------   categories   -----------------------------*/
.product-categories {
    margin: var(--main-margin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1.5rem 1.5rem;
}

.product-categories div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.product-categories div img {
    width: 35%;
    height: 100%;
    transition: 1s;
}

.product-categories div:hover img {
    transform: scale(1.2) rotate(3deg);
}

.product-categories div:hover p {
    background-color: var(--main-color);
}

.product-categories div p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    background-color: #ffffff;
}

.product-categories div p :nth-child(1) {
    font-weight: bold;
    padding: 0.5rem;
}

.product-categories div p :nth-child(2) {
    color: #6C757D;
}

@media (max-width: 991px) {
    .product-categories {
        margin: 0 1.5rem;
    }
}